html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  margin-left: 6rem;
  background-color: #07042d;
  color: #f4fff1;
}

h1,
h2,
h4 {
  font-family: "JetBrains Mono", monospace;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
}

h2 {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.6rem;
  font-size: 1.25rem;
  font-weight: normal;
}

h4 {
  margin-bottom: 0.1rem;
}

a {
  text-decoration: none;
  color: #9e86ff;
}

section {
  flex: 1;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

a:hover {
  color: #f4fff1;
}

.projects-container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  gap: 4rem;
  /* width: 70rem; */
}

.project {
  display: flex;
  flex-flow: column;
  flex: 1 0 20rem; /* flex-grow: 1, flex-shrink: 1, flex-basis: 20rem */
  max-width: 20rem;
}

.project img {
  width: 100%;
}

/* .project img {
  width: 20rem;
  height: 11rem;
} */

.skills-container {
  display: flex;
  flex-flow: wrap;
  margin-top: 1rem;
  /* justify-content: space-between; */
  /* max-width: 24rem; */
}

.skill {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex: 1 1 12rem;
  max-width: 12rem;
}

.icon-container {
  display: flex;
  width: 3rem;
  justify-content: center;
}

.skill p {
  margin-left: 0.5rem;
  flex-grow: 1;
}

.icon {
  font-size: 2rem;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 16rem;
}

/* @media screen and (max-width: 82rem) {
  .projects-container {
    width: 50rem;
  }
} */
